<header>
    <div class="logo"> RECIFY</div>
    <div class="inn">
         <input class="input" type="text" placeholder=" Search......"><i class="fas fa-search"></i>
        </div>
    <nav>
        <ul class="test">
            <li><a href="/" class="ul"> Home </a></li>
            <li><a href="/about" class="ul"> About </a></li>

            <li class="list"> Categories <i class="fas fa-caret-down"></i>

                <ul class="content">
                    <li> Vegan </li>
                    <li> Kid Friendly</li>
                    <li> Breakfast</li>
                    <li> Lunch</li>
                    <li> Dinner</li>
                    <li> Quick meals</li>
                </ul>
            
            </li>
            <li ><a href="" class="log" > Login </a></li>
            <li><a href="" class="sign-up"> Sign up </a></li>

        </ul>
    </nav>
    
    
</header>