
<html lang="en">
  <%- include('./partials/head') %>
<link rel="stylesheet" href="../../main.css">
<body>
  <%- include ('./partials/nav') %>
    
    <div class="section-one" >
        <div id="taste">
            <h4> Your Tastebuds,</h4>
            <h1> Your Happiness</h1>
        </div>

    </div>

    <div class="menu">
        <a href="/about"><i class="fas fa-list"></i> All Recipes</a>
        <a href="/recipe"><i class="fas fa-plus"></i> Add New Recipe</a>
    </div>

    <section class="section-two">

        <h3> Popular Recipes</h3>

         <div class="inside">
            <div class="main-card">
                <div class="card-holder">
                    <div class="image" style="background-image: url(./images/rice.webp);"></div>
                    <div class="desc">
                        <h4>Recipe : Rice with spicy pork stew</h4>
                        <h4> Writer : Kristine Laing</h4>
                    </div>
                </div>
            </div>
            
            <div class="main-card">
                <div class="card-holder">
                    <div class="image" style="background-image: url(./images/pudding.webp);"></div>
                    <div class="desc">
                        <h4>Recipe : Rice pudiing</h4>
                        <h4> Writer : Ashbella Malison</h4>
                    </div>
                </div>
            </div>
            
            <div class="main-card">
                            <div class="card-holder">
                                <div class="image" style="background-image: url(./images/pudding.webp);"></div>
                                <div class="desc">
                                    <h4>Recipe : Rice pudiing</h4>
                                    <h4> Writer : Ashbella Malison</h4>
                                </div>
                            </div>
                        </div>

            <div class="main-card">
            
                <div class="card-holder">
                    <div class="image" style="background-image: url(./images/pasta.webp);"></div>
                    <div class="desc">
                        <h4>Recipe : Pasta</h4>
                        <h4> Writer : Kristine Laing</h4>
                    </div>
                </div>
            </div>
         </div>


    </section>

</body>
</html>