
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="../../profile.css">

<body>
    <%- include('./partials/nav') %>
    

    <section class="section-one">
        <div class="image"></div>
        <div class="info">
            <ul>
                <li> Cook : Nana Aba Sam</li>
                <li> Location : London</li>
                <li> E-mail : nanab@gmail.com</li>
            </ul>
        </div>
    </section>

    <section class="section-two">
        <h3> Nana's Recipes</h3>

        <div class="recipe-display">

            <div class="image-text">
                <div class="img"></div>
                <button class="view"> View Recipe</button>
            </div>
            
            <div class="image-text">
                <div class="img"></div>
                <button class="view"> View Recipe</button>
            </div>

            <div class="image-text">
                <div class="img"></div>
                <button class="view"> View Recipe</button>
            </div>

        </div>

    </section>
</body>
</html>