<html>
<%- include('./partials/head') %>
<link rel="stylesheet" href="../../signup.css">

<body>
    <%- include('./partials/nav') %>

    <section class="main-card">
        <div class="formBx">
            <form id="reg-form">
                <h2>Create an Account</h2>
                <div class="form-field">
                    <input type="text" id="email" name="" placeholder="Username" />
                    <div class="email" style="color: tomato; text-align: center"></div>
                </div>

                <div class="form-field">
                    <input type="password" id="password" name="" placeholder="Password" />
                    <div class="password" style="color: tomato; text-align: center"></div>
                </div>
                <input type="submit" name="signup" value="Sign Up" />
                <p class="signup">
                    Have an account?<a href="/login" >
                        Login
                    </a>
                </p>
            </form>
        </div>
        </div>

    </section>

    <script>
        const form = document.querySelector("form");
            const emailError = document.querySelector('.email');
            const passwordError = document.querySelector('.password');



            form.addEventListener("submit", async (e) => {
                e.preventDefault();

                const email = form.email.value;
                const password = form.password.value;

                emailError.textContent = "";
                passwordError.textContent = "";

                try {
                    const response = await fetch("/signup", {
                        method: "POST",
                        body: JSON.stringify({ email, password }),
                        headers: { "Content-Type": "application/json" }
                    });

                    const data = await response.json();
                    console.log(data);

                    if (data.errors) {
                        emailError.textContent = data.errors.email;
                        passwordError.textContent = data.errors.password;
                    }

                    if (data.userNew) {
                        location.assign('/home')
                    }

                } catch (error) {
                    console.log(error)
                }
            });
    </script>
 
</body>

</html>