@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Inconsolata:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1.5px;

}

body {
    background-image:
        url(./images/burg.webp);
    background-size: cover;
    opacity: 1;
     font-family: 'Inconsolata',
     monospace;

}

header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 1em 3em;
    background-color: white;
    min-height: 2.5em;
    width: 100vw;
    margin-top: 0;
    box-shadow: 0 0 10px black;

}

header a {
    text-decoration: none;
    margin: 0 1em;
    color: black;
}

.input {
    background: #FFFFFF;
    border: 1.5px groove #3C6E51;
    width: 25em;
    height: 2.5em;
    padding: 1.3em;
    border-top: none;
    border-right: none;
    border-left: none;



}

.fa-search {
    position: absolute;
    top: 1.3em;
    margin-left: 0.5em;
    cursor: pointer;
}

header input:focus {
    outline: none;
}

.logo {
    color: red;
    font-family: 'Dancing Script';
    font-weight: 700;
}

header li {
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.log {
    margin-left: 5em;
}

.log:hover {
    color: green;
}

.ul {
    margin: 0 2em;
}

.sign-up {
    background-color: #3C6E51;
    padding: 0.7em;
    color: white;
    border-radius: 9px;
    transition: 1s;
}

.sign-up:hover {
    background-color: rgb(49, 124, 80);
    border: solid black 2px;
    scale: 1;
}

ul .content {
    background-color: white;
    position: absolute;
    width: 10em;
    display: flex;
    flex-direction: column;
    margin-top: 1.6em;
    padding: 1em;
    line-height: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
    opacity: 0;
    transition: 0.7s;


}

nav ul .list:hover>.content {
    opacity: 1;
    cursor: pointer;

}

.content li {
    transition: scale 0.8s;
}

.content li:hover {
    background-color: #3C6E51;
    padding: 0.4em;
    scale: 1.2;
}
.new-entries{
    background-color:rgba(0, 0, 0, 0.637);
    margin: 5em;
    padding: 5em;
    display: flex;
    flex-direction: column;

}
.new-image{
    height: 13em;
    width: 15em;
    background-color: white;
    border-radius: 1em;
    border: red solid 2px;
}
.dets{
    width: 18em;
    margin-top: 1.5em;
    line-height: 2em;
    font-size: 18px;
    padding: 1em;
    color: white;
}
.dets li{
    list-style-type: none;
}
